<div class="container-fluid">
    <h1>Halloo, <%=nama %></h1>
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Data Barang</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="datatablesSimple" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    <% mahasiswa.forEach(mhs => { %>
                    <tr>
                        <td><%= mhs.nama %></td>
                        <td><%= mhs.position %></td>
                        <td><%= mhs.office %></td>
                        <td><%= mhs.age %></td>
                        <td><%= mhs.startdate %></td>
                        <td>Rp. <%= mhs.startdate %>,00</td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

